<!-- Container for Join Room -->
<div class="container">
  <!-- Join Room Card -->
  <div class="card-container" *ngIf="!roomJoined">
    <div class="card">
      <h2>Join a Room</h2>
      <div class="form-group">
        <input type="text" [(ngModel)]="roomName" placeholder="Enter room name">
      </div>
      <button class="join-button" (click)="joinRoom()">Join Room</button>
    </div>
  </div>
</div>

<!-- Editor Container -->
<div class="editor-container" *ngIf="roomJoined">
  <div class="room-info">
    <h2>Room Name: {{roomName}}</h2>
  </div>
  <div class="editor">
    <textarea (input)="onCodeChange($event)" [value]="code"></textarea>
  </div>
</div>
