<!-- Container for Join Room -->
<div class="container">
  <!-- Join Room Card -->
  <div class="card-container" *ngIf="!roomJoined">
    <div class="card">
      <h2>Join a Room</h2>
      <div class="form-group">
        <input type="text" [(ngModel)]="roomName" placeholder="Enter room name">
      </div>
      <button class="join-button" (click)="joinRoom()">Join Room</button>
    </div>
  </div>
</div>
<!-- Custom Confirmation Dialog -->
<div class="confirmation-dialog" *ngIf="showConfirmDialog">
  <div class="confirmation-dialog-content">
    <p>Are you sure you want to leave the room?</p>
    <button (click)="confirmLeave()">Yes</button>
    <button (click)="cancelLeave()">No</button>
  </div>
</div>
<!-- Editor Container -->
<div class="editor-container" *ngIf="roomJoined">
  <div class="room-info">
    <h2>Room Name: {{roomName}}</h2>
    <h4>{{userMessage}}</h4>
  </div>
  <div class="editor">
    <textarea (input)="onCodeChange($event)" [value]="code"></textarea>
  </div>
  <div class="button-group">
    <!-- Download Button -->
    <button class="download-btn" (click)="downloadCode()">Download</button>
    <!-- Leave Button -->
    <button class="leave-btn" (click)="openConfirmDialog()">Leave Room</button>
  </div>
</div>
